#single_product_banner {}

#single_product_banner .single_product_banner_content {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    background-color: var(--bg-section-color);
}

#single_product_banner .single_product_banner_content .banner_title {}

#single_product_banner .single_product_banner_content .banner_pathName {
    display: flex;
    gap: 10px;
    opacity: .8;
    align-items: center;
}

#single_product_banner .single_product_banner_content .banner_pathName p {
    font-size: 12px;
}

#single_product {
    margin: 30px 0px;
}

#single_product .product {}

#single_product .product img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

#single_product .product .product_details {}

#single_product .product .product_details .product_title {
    font-size: 27px;
    font-weight: 500;
    opacity: .9;
    padding: 5px 0px;
}

#single_product .product .product_details .product_ratings .rating_point {
    font-size: 20px;
}

#single_product .product .product_details .product_description {
    font-size: 15px;
    opacity: .9;
    padding: 10px 0px;
}

#single_product .product .product_details hr {
    margin: 10px 0px;
}

#single_product .product .product_details .product_price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

#single_product .product .product_details .product_price .offer_price {
    font-size: 29px;
}

#single_product .product .product_details .product_hot_details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#single_product .product .product_details .product_hot_details .item {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 200px;
    font-size: 10px;
}

#single_product .product .product_details .btn_group {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

#single_product .product .product_details .btn_group button {
    padding: 2px 22px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

#single_product .product .product_details .btn_group .buy_now_btn {
    background-color: var(--primary-color);
    color: white;
}


/* cart section start */
body{
    position: relative;
}
#cart{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    width: 500px;
    height: 100%;
    z-index: 9999;
}
#cart .grid{

}
#cart .grid .cart_area{
    
}
/* cart section end */

/* from 576 - 767 */
/* small device - smart phone - importent */
@media screen and (min-width: 576px) {
    #single_product .product {
        /* display: flex; */
        gap: 40px;
        justify-content: space-between;
    }

    #single_product .product img {
        max-width: 350px;
    }

    #single_product .product_details {
        width: 80%;
    }
}

/* large device */
@media screen and (min-width: 992px) {
    #single_product .product {
        display: flex;
        gap: 40px;
        justify-content: center;
    }

    #single_product .product img {
        max-width: 350px;
    }

    #single_product .product_details {
        width: 40%;
    }
}